body {
  margin: 0;
  font-family: Arial;
}

.people {
  padding-top: 30px;
  display: grid;
  gap: 0 20px;
  justify-content: center;
  grid-template-columns: repeat(2, 220px);
}

@media (min-width: 1000px) {
  .people {
    grid-template-columns: repeat(4, 220px);
  }
}

.person {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
  

  &:hover{
    background-color: #EEEEEE;
    border-radius: 10px;
    position: relative;
    z-index: 999;
    
    transform: scale(1.3);
  }
  &:hover .person__extra{
    visibility: visible;
  }

   &:hover .person__photo > img{
    border-radius: 60px
  }

  &__photo {
    max-width: 200px;
    position: relative;
  }

  &__photo > img {
    width: 200px;
    height: 200px;

    border-radius: 50%;

    transition: 1s;
  }

  &__rank {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;

    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    color: #8b0000;

    position: absolute;
    top: calc(50% - 16px);
    right: 10px;
  }

  &__details {
    text-align: center;
  }

  &__name {
    color: #2f4f4f;
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }

  &__extra {
    visibility: hidden;
    margin-top: 9px;

    font-family: Arial;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000000;

  }

  &__sport {
  }

  &__pay {
  }
}
